:root {
  /* Dracula Colors */
  --dracula-background: #282a36 !important;
  --dracula-current-line: #44475a !important;
  --dracula-selection: #44475a !important;
  --dracula-foreground: #f8f8f2 !important;
  --dracula-comment: #6272a4 !important;
  --dracula-cyan: #8be9fd !important;
  --dracula-green: #50fa7b !important;
  --dracula-orange: #ffb86c !important;
  --dracula-pink: #ff79c6 !important;
  --dracula-purple: #bd93f9 !important;
  --dracula-red: #ff5555 !important;
  --dracula-yellow: #f1fa8c !important;
  /* Discord Root Colors */
  --background-primary: var(--dracula-background) !important;
  --background-secondary: var(--dracula-background) !important;
  --background-secondary-alt: var(--dracula-background) !important;
  --background-tertiary: var(--dracula-background) !important;
  --background-accent: var(--dracula-current-line) !important;
  --background-floating: #3d4253 !important;
  --activity-card-background: var(--dracula-background) !important;
  --interactive-normal: var(--dracula-foreground) !important;
  --channeltextarea-background: var(--dracula-selection) !important;
  --rs-online-color: var(--dracula-green) !important;
  --rs-idle-color: var(--dracula-orange) !important;
  --rs-dnd-color: var(--dracula-red) !important;
  --rs-offline-color: var(--dracula-selection) !important;
  --rs-streaming-color: var(--dracula-purple) !important;
  --rs-invisible-color: var(--dracula-comment) !important;
  --interactive-muted: var(--dracula-comment) !important;
  --elevation-low: var(--elevation-high) !important;
}

.da-acronym {
  --background-primary: var(--dracula-selection) !important;
}

.da-repliedMessage {
  --background-accent: var(--dracula-selection) !important;
}

.container-1D34oG.da-container {
  background-color: var(--dracula-background) !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--dracula-comment) !important;
}

.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--dracula-selection) !important;
  border: 4px solid var(--dracula-background) !important;
  border-radius: 8px !important;
}

/* Syntax Highlighing in Code Blocks*/
code {
  color: var(--dracula-foreground) !important;
}
span.hljs-built_in {
  color: var(--dracula-purple) !important;
}
span.hljs-keyword {
  color: var(--dracula-pink) !important;
}
span.hljs-title {
  color: var(--dracula-cyan) !important;
}
span.hljs-attr {
  color: var(--dracula-foreground) !important;
}
span.hljs-string {
  color: var(--dracula-yellow) !important;
}
span.hljs-number {
  color: var(--dracula-purple) !important;
}
span.hljs-symbol {
  color: var(--dracula-orange) !important;
}
span.hljs-meta {
  color: var(--dracula-foreground) !important;
}
span.hljs-meta-keyword {
  color: var(--dracula-pink) !important;
}
span.hljs-meta-string {
  color: var(--dracula-orange) !important;
}

.headerPlaying-j0WQBV {
  background: rgb(68, 71, 90) !important;
}

.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
  background-color: #282a36 !important;
  color: hsla(0, 0%, 100%, 0.8);
}

.theme-dark .headerNormal-T_seeN {
  background-color: #414455 !important;
}

.theme-dark .option-96V44q.selected-rZcOL- {
  background-color: var(--dracula-comment) !important;
}
.theme-dark .option-96V44q.selected-rZcOL- .answer-1n6g43 {
  color: white !important;
}

.theme-dark .option-96V44q:after {
  background: none !important;
}

.container-UC8Ug1 {
  background-color: #424454 !important;
}
.theme-dark .container-3ayLPN {
  background-color: #3d4253 !important;
}
.theme-dark .perksModal-fSYqOq,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq,
.theme-dark .root-1gCeng,
.theme-dark .uploadModal-2ifh8j,
.theme-dark .footer-3mqk7D,
.theme-dark .pageWrapper-1PgVDX,
.search-1iTphC .searchBox-2_mAlO,
.theme-dark .container-1D34oG {
  background-color: var(--dracula-background) !important;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
  color: #fff;
  background-color: #424454 !important;
  border-color: #202225;
}
.theme-dark .footer-2gL1pp {
  background-color: var(--dracula-background) !important;
}

.colorStandard-2KCXvj {
  color: #a5a5a5;
}
.colorHeaderPrimary-26Jzh- {
  color: white;
}

.colorHeaderSecondary-3Sp3Ft,
.close-hZ94c6 {
  color: #a5a5a5;
}

.theme-light .footer-2gL1pp {
  box-shadow: none !important;
  background-color: var(--dracula-background) !important;
}

.da-searchBar, .da-content:before, .da-header {
  box-shadow: none !important;
}

.layout-2DM8Md.da-layout:hover {
  background-color: #44475991 !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}
::-webkit-scrollbar-thumb,
.selected-aXhQR6 .layout-2DM8Md,
.reaction-1hd86g.reactionMe-wv5HKu {
  background-color: rgb(68, 71, 90) !important;
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
  font-size: 16px;
  padding: 8px;
  color: white;
}

.backButton-iA7KIs {
  color: white;
}

.theme-light .root-1gCeng {
  box-shadow: none !important;
}

.reaction-1hd86g {
  border-color: transparent !important;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border-color: #bd93f9 !important;
}
.colorLink-2vG20E {
  color: #bd93f9 !important;
}

.theme-dark .mentioned-xhSam7 .mention, .theme-light .mentioned-xhSam7 .mention {
  background-color: transparent!important;
}

.modeSelected-346R90 .content-1x5b-n {
  background-color: #444759 !important;
}

.modeSelected-346R90 .icon-1DeIlz {
  color: white !important;
}

.reaction-1hd86g {
  border-radius: 4px !important;
}

.theme-dark .message-2qRu38 {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.theme-dark .autocomplete-1vrmpx {
  background-color: #3d4253 !important;
}

.theme-dark .selected-1Tbx07 {
  background-color: #6272a4 !important;
}

.base-1x0h_U {
  color: white !important;
}

.modal-qgFCbT.root-1gCeng.fullscreenOnMobile-1bD22y {
  background: transparent !important;
}

.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: #3d4253 !important;
}

.subscribeTooltipWrapper-1JoUuw {
  background-color: #3d4253 !important;    
}

.subscribeTooltipWrapper-1JoUuw:after {
  border-bottom-color: #3d4253 !important;
}

.subscribeTooltipButton-rIF3w3.button-38aScr.lookInverted-2D7oAl.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN {
  color: #fff !important;
  background-color: #6272a4 !important;
}
.cardPrimary-1Hv-to {
  background: transparent !important;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background-color: #232530 !important; /* temp */
}
.iconActiveMedium-1UaEIR {
  border-radius: 50% !important;
}

.categoryHeader-O1zU94 {
  background-color: #282a36 !important;
}

.theme-dark .tierBody-16Chc9,
.theme-dark .tierBody-x9kBBp,
.tierHeaderLocked-1a2opw,
.theme-dark .perk-2WeBWW,
.theme-dark .card-FDVird:before {
  background-color: #44475a !important;
}

.theme-dark .tierHeaderLocked-1s2JJz {
  background-color: #44475a !important;
  color: #dcddde !important;
}

.theme-dark .tierLock-3CSxSX  {
  color: #dcddde !important;
}

.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
  background-color: #282a36 !important;
}

.tierLock-1oFMOZ {
  color: #b9bbbe !important;
}

.previewContainer-1KQDJS .theme-dark .messageContainer-1DiFnQ {
  background-color: #282a36 !important;
}

.theme-dark .streamPreview-2-WUWT,
.theme-dark .previewContainer-12UlHl {
  background-color: #282a36 !important;
}

.css-3vaxre-menu {
  background-color: #282a36 !important;
}

.categorySection-231RiR > .categoryHeader-O1zU94 {
  background: #3d4253 !important;
}

.container-UC8Ug1 {
  border: none !important;
}

.container-UC8Ug1:not(:hover) {
  background: var(--dracula-background) !important;
}

.container-UC8Ug1 > * {
  color: #fff !important;
}

.inputDefault-_djjkz.input-cIJ7To {
  color: #a5a5a5 !important;
}

.button-38aScr.lookBlank-3eh9lL > * {
  color: #a5a5a5 !important;
}

.focused-3afm-j, .lookFilled-1Gx00P {
  background: #6272a4 !important;
}

.lookFilled-1Gx00P:hover {
  background: #6b7bad !important;
}
